certifi==2017.7.27.1
chardet==3.0.4
idna==2.6
PyAudio==0.2.11
requests==2.18.4
SpeechRecognition==3.7.1
urllib3==1.22
nltk==3.2.5
keras>=2.0.4
tensorflow>=1.2.1
numpy>=1.13.1
gensim==3.0.0
num2words==0.5.5
